
<div>
    <div class="user" >
     
        <div >
             <form class="form" >
                  <div *ngFor="let item of Object.keys(users)">
                    
                    
                    <div *ngIf="!(item=='password')">
                      <h1>{{item}}:{{users[item]}}</h1>
                    <!-- <mat-form-field appearance="fill">
                      
                      <input  matInput/>{{users[item]}}</mat-form-field> -->
                   
                    </div>
                    
                  </div>
                  
                 <div class="button1">
            
             
              
                    <button class="success " mat-raised-button style="width: 150px" routerLink="/userupdate/{{users.email}}">Edit Profile</button>
                  </div>
            
                </form>
             
          
         


   </div>


