
<div>
    <div class="user" >
     
        <div >
             <form class="form" >
                  <div *ngFor="let item of Object.keys(users)">
                    <div [hidden]="item ===users.password"></div>
                    <h1>{{item}}</h1>
                    <mat-form-field appearance="fill">
                      
                      <input matInput/>{{users[item]}}</mat-form-field>
                   
                    
                    
                  </div>
                  
                 <div class="button1">
            
             
              
                    <button color="primary"  mat-raised-button style="width: 150px" routerLink="/userupdate/{{users.email}}">Edit Profile</button>
                  </div>
            
                </form>
             
          
         


   </div>


