<div class="container">
    <h1>Update Book</h1>
  
    <form #addForm="ngForm">
      <div class="form-group">
        <label for="bookId">Book Id</label>
        <input
          type="number"
          class="form-control"
          id="bookId"
          [(ngModel)]="book.bookId"
          name="bookId"
          #bookId="ngModel"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="title">title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="book.title"
          name="title"
          #title="ngModel"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="isbn">Isbn</label>
        <input
          type="number"
          class="form-control"
          id="isbn"
          [(ngModel)]="book.isbn"
          name="isbn"
          #isbn="ngModel"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="publicationYear">publicationYear</label>
        <input
        type="number"
          class="form-control"
          id="publicationYear"
          
          [(ngModel)]="book.publicationYear"
          name="publicationYear"
          #publicationYear="ngModel"
        >
      </div>

      <div class="form-group">
        <label for="genre">genre</label>
        <input
        type="text"
          class="form-control"
          id="genre"
          
          [(ngModel)]="book.genre"
          name="genre"
          #genre="ngModel"
        >
      </div>

      <div class="form-group">
        <label for="language">language</label>
        <input
        type="text"
          class="form-control"
          id="language"
          
          [(ngModel)]="book.language"
          name="language"
          #language="ngModel"
        >
      </div>

      <div class="form-group">
        <label for="pageCount">pageCount</label>
        <input
        type="number"
          class="form-control"
          id="pageCount"
          
          [(ngModel)]="book.pageCount"
          name="pageCount"
          #pageCount="ngModel"
        >
      </div>

      <div class="form-group">
        <label for="description">description</label>
        <input
        type="text"
          class="form-control"
          id="description"
          
          [(ngModel)]="book.description"
          name="description"
          #description="ngModel"
        >
      </div>

      <div class="form-group">
        <label for="price">price</label>
        <input
        type="number"
          class="form-control"
          id="price"
          
          [(ngModel)]="book.price"
          name="price"
          #price="ngModel"
        >
      </div>

      <div class="form-group">
        <label for="available">available</label>
        <input
        type="text"
          class="form-control"
          id="available"
          
          [(ngModel)]="book.available"
          name="available"
          #available="ngModel"
          >
      </div>

      <div class="form-group">
        <label for="author">author</label>
        <input
        type="text"
          class="form-control"
          id="author"
          
          [(ngModel)]="book.author"
          name="author"
          #author="ngModel"
        >
      </div>

      <div class="form-group">
        <label for="publisher">publisher</label>
        <input
        type="text"
          class="form-control"
          id="publisher"
         
          [(ngModel)]="book.publisher"
          name="publisher"
          #publisher="ngModel"
        >
      </div>

      <div class="form-group">
        <label for="rented">rented</label>
        <input
        type="text"
          class="form-control"
          id="rented"
          
          [(ngModel)]="book.rented"
          name="rented"
          #rented="ngModel"
        >
      </div>

      <!-- <div class="form-group">
        <label for="imageURL">imageURL</label>
        <input
        type="url"
          class="form-control"
          id="imageURL"
        
          [(ngModel)]="book.imageURL"
          name="imageURL"
          #imageURL="ngModel"
        >
      </div> -->
      <div class="form-group">
        <label for="imageURL">imageURL</label>
        <input
        type="url"
          class="form-control"
          id="imageURL"
        
          [(ngModel)]="book.imageURL"
          name="imageURL"
          #imageURL="ngModel"
        >
      </div>
  
      <button type="submit" class="btn btn-primary" (click)="submitForm()">Update</button>
    </form>
  </div>
  
