.space-buttons {
    flex:1 1 auto;
}
.navbar {
    position:sticky;
    top: 0;/* Stick it to the top of the viewport;*/
   left: 0;/* Stick it to the left edge of the viewport;*/
  width: 100%;/*Make it span the full width of the viewport;*/
  z-index: 1000 ;/*Adjust the z-index as needed to ensure its below other elements;*/
}