<mat-toolbar color="primary" class="navbar" *ngIf="!isLoggedIn()"> 
    
    <span class="space-buttons">
        <a   routerLink="/"><span class="material-icons red-color">menu_book </span>ReadWagon</a>
    </span>
    
    <!-- <button *ngIf="menutype===''"(click)="logout()" mat-raised-button color="warn">Logout</button> -->
  
    <button mat-raised-button color="primary" routerLink="/user-login">Login</button>
  

   
    <button mat-raised-button color="primary" routerLink="/create-book">Sell Book</button>
    <button   mat-raised-button color="primary" routerLink="/user-registration">Register</button>
    
    <button mat-raised-button color="primary" routerLink="/about-us">About Us</button>
</mat-toolbar>
<mat-toolbar color="primary" class="navbar" *ngIf="isLoggedIn()"> 
    
    <span class="space-buttons">
        <a   routerLink="/"><span class="material-icons red-color">menu_book </span>ReadWagon</a>
    </span>
    
  
    

  

        <button mat-raised-button color="primary" class="menu" [routerLink]="'/my-books/'">My Books</button>
        <button mat-raised-button color="primary" class="menu"  [routerLink]="'/my-orders/'">My Orders</button>
    <button mat-raised-button color="primary" routerLink="/create-book">Sell Book</button>
    
    
    
    <button mat-raised-button color="primary" routerLink="/about-us">About Us</button>
    <div class="dropdown" *ngFor="let item of Object.keys(users)" >
                    
                    
        <div *ngIf="(item=='userName')">
             
<a mat-raised-button color="purple" (click)="toggleMenu()"  (blur)="closeDropDown()" class="dropbtn">hii, {{users[item]}}</a>
<div id="myDropdown"  class="menu" *ngIf="isMenuopened">
    
     <button mat-raised-button color="primary" class="menu"   routerLink="/user-profile"><mat-icon>perm_identity</mat-icon>Profile</button>
     
     <button (click)="logout()" mat-raised-button color="warn">Logout</button>
    
</div>
</div>
            
        </div>
       
    
</mat-toolbar>
  