<h1>Cart</h1>
<div class="container">
    <div class="row">
        <div class="col col-md-8">
            <div *ngFor="let list of cartDetails">
                <img src="{{list.imageURL}}" alt="book.title" style="height: 50px">
                <ul>
                    <li>{{list.title}}</li>
                    <!-- <li>{{list.description}}</li> -->
                    <li>{{list.price}}</li>
                </ul>
            </div>
        </div>
        
        <div class="col col-md-4">
           <h4>total summary</h4>

        </div>
    </div>
</div>