<div class="container-fluid">
  
  <div class="hero-image"></div>
   <div class="inner-hero">
    <h1> Explore ReadWagon today</h1>
    <h2 style="font-size:xx-large; color:black; font-family:fantasy;">where old books find new homes!</h2>
<div>
    <!-- <a mat-button  [routerLink]="'/view-books/'">Buy Book</a> -->
    <img src="../../../assets/images/how_to_buy.gif" alt="animated gif">
    <img src="../../../assets/images/image_processing20220310-8521-5y47os.gif" alt="animated gif">
    <!-- <a mat-button [routerLink]="'/create-book/'">Sell Book</a> -->
   </div></div>

<div class="my-books">
  <br><br><br>
  <!-- <mat-card-actions>
    <a mat-button  [routerLink]="'/my-books/'">My Books</a>
    <a mat-button [routerLink]="'/my-orders/'">My Orders</a>
  </mat-card-actions> -->
 
</div>

    <div class="card-container">
      
    <div class="col-lg-3 col-md-3 mb-3 " id="card" *ngFor="let book of books">
      <mat-card class="card">
        <img mat-card-image [src]="book.imageURL" alt="{{book.title}}">
        
        <mat-card-content>
          <h2>{{ book.title }}</h2>
          <p>Author: {{ book.author }}</p>
          <p>Genre: {{ book.genre }}</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button [routerLink]="'/book-details/' + book.bookId">View Details</a>
          
        </mat-card-actions>
       
      </mat-card>
    </div>
  </div>

  
</div>
<footer class="bg-dark text-light pt-5">
  <div class="container px-5">
    <div class="d-sm-flex justify-content-between  py-1">
      <p style=" margin-left: -180px; ">2023 © Readwagon. All Rights Reserved. </p>
      <div></div>
      <p style="margin-right: -180px;">
          <a href="#" class="text-light text-decoration-none pe-4">About Us</a>
          <a href="#" class="text-light text-decoration-none"> Privacy policy</a>
      </p>
  </div>
  </div>
</footer>










<!-- <div class="container">
    <h1>View Books</h1>
    <div class="row">
    <div class="col-md-4" *ngFor="let book of books">
    <div class="card mb-4">
      
        <img class="card-img-top" style="height: 200px; width: 50%; margin-left: 80px;"
				src="{{book.imageURL}}" alt="{{book.title}}">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">Author: {{ book.author }}</p>
          <p class="card-text">Genre: {{ book.genre }}</p>
            <a
              routerLink="/book-details/{{ book.bookId }}"
              class="btn btn-primary btn-sm"
              >View Details</a
            >
          
          <td>
            <a
              routerLink="/update-book-details/{{ book.bookId }}"
              class="btn btn-primary btn-sm"
              >Edit Book</a
            > 
           

           </td>
        </div>
      </div>
    </div>
  </div>
</div> 
  
   -->
