.card-container {
 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;


}
.my-books{
  text-align: center;
}
#card{
margin-right:-50px ;
padding-right: -50px;
border: solid beige;

/* margin-left: -50px; */
}
.b1{
  border: 2px skyblue solid;
  padding: 20px;
}
.card {
  width: 400px;
  height: 450px;
}
.hero-image {
 
  background-image: url('https://as1.ftcdn.net/v2/jpg/04/90/51/38/1000_F_490513853_kAVSEYFTKn4FIi7mm63yIiXSVRxj10NH.jpg');
 /* background-image: url('/webapp/src/assets/images/bk.jpg'); */
 filter:blur(4px);
 -webkit-filter: blur(4px); 
 background-size: cover;
  background-position: center;
  height: 600px; /* Adjust the height as needed */
}
.inner-hero{
  width: 100vw;
  height: 100vh;
display: flex;
flex-direction: column;
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;

justify-content: center;
align-items: center;
text-align: center;
}
.inner-hero h1{
  font-size: 5em;
  font-weight: bold;
  background-image: linear-gradient(to left, violet, indigo, green, blue, rgb(0, 42, 255), rgb(255, 0, 191), rgb(255, 0, 0));
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
  margin-bottom: 0px;
  line-height: 1.2;
}
.inner-hero a{
  
width: 200px;
padding: 1em;

    margin-top: 30px;
    margin-right: 10px;
    margin-left: 25px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5em;
border:3px solid purple;
background-color:purple;
}

.heading{
text-align:start;
margin: 30px;
padding: 30px;
/* font-weight:bolder; */
}
.card img {
  width: 100%;
  height: 370px;
  object-fit:fill;
}
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}






































/* Add some padding and margin to the container for spacing */
/* .container {
    padding: 20px;
    margin-top: 20px;
  } */
  
  /* Style the card headers */
  /* .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
  } */
  
  /* Center the card image */
  /* .card-img-top {
    display: block;
    margin: 0 auto;
  } */
  
  /* Add a border and some box-shadow for a clean look */
  /* .card {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
   */
  /* Add some spacing between cards */
  /* .col-md-4 {
    margin-bottom: 20px;
  } */
  
  /* Center the "View Details" button */
  /* .btn-primary {
    display: block;
    margin: 10px auto;
  } */
  
  /* Style the overall page heading */
  /* h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  } */
  