<div class="container">
    <h1 class="header">Create Book</h1>
  
    <form (submit)="submitForm()" class="form-container">
        <ng-container *ngIf="!submitted">
          <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label for="bookId">Book Id</mat-label>
        <input
        matInput
          type="number"
          class="form-control"
          id="bookId"
          [(ngModel)]="book.bookId"
          name="bookId"
          required
        />
      </mat-form-field>
      </div>

      <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label for="title">title</mat-label>
        <input
        matInput
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="book.title"
          name="title"
          required
        />
      </mat-form-field>
      </div>

      <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label for="isbn">Isbn</mat-label>
        <input
        matInput
          type="number"
          class="form-control"
          id="isbn"
          [(ngModel)]="book.isbn"
          name="isbn"
          required
        />
      </mat-form-field>
      </div>

      <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label for="publicationYear">publicationYear</mat-label>
        <input
        matInput
        type="number"
          class="form-control"
          id="publicationYear"
          
          [(ngModel)]="book.publicationYear"
          name="publicationYear"
        >
      </mat-form-field>
      </div>

      <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label for="genre">genre</mat-label>
        <input
        matInput
        type="text"
          class="form-control"
          id="genre"
          rows="3"
          [(ngModel)]="book.genre"
          name="genre"
        >
      </mat-form-field>
      </div>

      <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label for="language">language</mat-label>
        <input
        matInput
        type="text"
          class="form-control"
          id="language"
          
          [(ngModel)]="book.language"
          name="language"
        >
      </mat-form-field>
      </div>

      <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label for="pageCount">pageCount</mat-label>
        <input
        matInput
        type="number"
          class="form-control"
          id="pageCount"
          
          [(ngModel)]="book.pageCount"
          name="pageCount"
        >
      </mat-form-field>
      </div>

      <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label for="description">description</mat-label>
        <input
        matInput
        type="text"
          class="form-control"
          id="description"
          
          [(ngModel)]="book.description"
          name="description"
        >
      </mat-form-field>
      </div>

      <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label for="price">price</mat-label>
        <input
        matInput
        type="number"
          class="form-control"
          id="price"
          
          [(ngModel)]="book.price"
          name="price"
        >
      </mat-form-field>
      </div>

      <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label for="available">available</mat-label>
        <input
        matInput
        type="text"
          class="form-control"
          id="available"
          
          [(ngModel)]="book.available"
          name="available"
        >
      </mat-form-field>
      </div>
      
      <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label for="author">author</mat-label>
        <input
        matInput
        type="text"
          class="form-control"
          id="author"
          
          [(ngModel)]="book.author"
          name="author"
        >
      </mat-form-field>
      </div>

      <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label for="publisher">publisher</mat-label>
        <input
        matInput
        type="text"
          class="form-control"
          id="publisher"
         
          [(ngModel)]="book.publisher"
          name="publisher"
        >
      </mat-form-field>
      </div>

      <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label for="rented">rented</mat-label>
        <input
        matInput
        type="text"
          class="form-control"
          id="rented"
          rows="3"
          [(ngModel)]="book.rented"
          name="rented"
        >
      </mat-form-field>
      </div>

      <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label for="imageURL">imageURL</mat-label>
        <input
        matInput
        type="url"
          class="form-control"
          id="imageURL"
        
          [(ngModel)]="book.imageURL"
          name="imageURL"
        >
        </mat-form-field>
  </div>
      <button mat-raised-button type="submit" color="primary"class="btn btn-primary">Create</button>
        </ng-container>
    <div *ngIf="submitted">
        <h4>Book was submitted successfully!</h4>
        </div>
    </form>
  </div>
  
