
<div>
    <div  class="sign-up">
        <h1>Login</h1>
        <form class="form"(ngSubmit)="onSubmit()" [formGroup]="loginForm">
           <fieldset class="backcolor">
            <mat-form-field appearance="fill">
                <input matInput type="email" placeholder="email" id="email"
                                                                       formControlName="email">
                <mat-error *ngIf="email?.errors?.required">
                  Email should be required
               </mat-error>
             </mat-form-field>
        <mat-form-field appearance="fill">
             <input matInput type="password" placeholder="Password" id="password" formControlName="password" [type]="hide ? 'password' : 'text'">
             <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>    
             <mat-error *ngIf="password?.errors?.required">
                    Password is required.
                  </mat-error>
                
         
        </mat-form-field>
        </fieldset>
        <button color="accent" mat-button mat-raised-button type="reset">Reset</button>
        <button color="primary" mat-button mat-raised-button 
        type="submit">LogIn</button>

       
  </form>

</div>
</div>
