<div class="container">
    <div *ngIf="!showLogin" class="sign-up">
        <h1>Registration Form</h1>
        <form class="form-container" (ngSubmit)="onSubmit()" [formGroup]="profileForm">
          <div class="form-group">
            <fieldset class="backcolor" >
                   <mat-form-field appearance="fill" class="full-width">
                         <input matInput placeholder="userName" type="text" id="userName" formControlName="userName" class="form-control" />
                        <mat-error *ngIf="userName?.errors?.required">
                         Name is required.
                        </mat-error>
                    </mat-form-field>
                
                    <mat-form-field appearance="fill" class="full-width">
                          <input matInput type="password" placeholder="Password" id="password" formControlName="password" class="form-control">
                          <mat-error *ngIf="password?.errors?.required">
                             Password is required.
                          </mat-error>
                          <mat-error *ngIf="password?.errors?.pattern">
                            Password should have min 8 letter password, with at least a symbol, upper and lower case letters
                             and a number.
                            </mat-error>
    
                   </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width">
                       <input matInput type="password" placeholder="Confirm Password" id="confirmPassword"
                        formControlName="confirmPassword" class="form-control">
                        <mat-error *ngIf="profileForm.errors?.mustMatch===false">
                        Password and Confirm Password should match.
                        </mat-error>
                     </mat-form-field>
           
            
               <mat-form-field appearance="fill" class="full-width">
                      <input matInput type="email" placeholder="email" id="email"
                    formControlName="email" class="form-control">
                      <mat-error *ngIf="email?.errors?.pattern">
                     Email should be required
                     </mat-error>
                </mat-form-field>
               <mat-form-field appearance="fill" class="full-width">
                       <input matInput placeholder="userId" type="text" id="userId" formControlName="userId" class="form-control" />
                       <mat-error *ngIf="userId?.errors?.required">
                        UserId is required.
                      </mat-error>
               </mat-form-field>
            
                <mat-form-field appearance="fill"class="full-width">
                         <input matInput type="text" placeholder="Phone Number" id="phoneNo" formControlName="phoneNo" class="form-control">
                          <mat-error *ngIf="phoneNo?.errors?.pattern">
                         Valid phone number contains 10 digits starting with 7/8/9
                        </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                  <input matInput placeholder="Occupation" type="text" id="occupation" formControlName="occupation" class="form-control" />
                  
               </mat-form-field>
                
               <mat-form-field appearance="fill"class="full-width">
                  <input matInput placeholder="Address" type="text" id="address" formControlName="address" class="form-control" />
                  
               </mat-form-field>
        
             </fieldset>
                  <button color="accent" mat-button mat-raised-button type="reset">Reset</button>
                 <button color="primary" mat-button mat-raised-button [disabled]="!profileForm.valid"
                 type="submit">Signup</button>
   
            
           
                </div>   <!-- <a class="auth-toggle-link" (click)="openLogin()">Already have account? Click for Login</a> -->
         </form>

      </div>
            <!-- <div *ngIf="showLogin" class="sign-up">
                        <h1>Login</h1>
                        <p class="error-p">{{authError}}</p>
                        <form class="form" (ngSubmit)="login()" [formGroup]="loginForm">
                           <fieldset class="backcolor">
                            <mat-form-field appearance="fill">
                                <input matInput type="email" placeholder="email" id="email"
                                                                                       formControlName="email">
                                <mat-error *ngIf="email?.errors?.pattern">
                                  Email should be required
                               </mat-error>
                             </mat-form-field>
                        <mat-form-field appearance="fill">
                             <input matInput type="password" placeholder="Password" id="password" formControlName="password">
                                 <mat-error *ngIf="password?.errors?.required">
                                    Password is required.
                                  </mat-error>
                                 <mat-error *ngIf="password?.errors?.pattern">
                                 Password should have min 8 letter password, with at least a symbol, upper and lower case letters
                                   and a number.
                                 </mat-error>
                         
                        </mat-form-field>
                        </fieldset>
                        <button color="accent" mat-button mat-raised-button type="reset">Reset</button>
                        <button color="primary" mat-button mat-raised-button 
                        type="submit">LogIn</button>
          
                       <a class="auth-toggle-link" (click)="openSignup()">Donot have account? Click for Signup</a>

                  </form>

            </div> -->
          
</div>
